* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #333;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 704px;
  height: 384px;
  outline: 1px solid black;
  margin: 0 auto;
  /* transform: scale(2) translateY(50%); */
  transform: scale(1.5) translateY(30%);
}

.game-container canvas {
  image-rendering: pixelated;
}